{
    "git":
        {
            "tag":"4.0",
            "rel": 0,
            "group_based_policy_branch": "{{ gbp_branch }}"
        },
    "dib":
        {
            "image_size":10,
	        "elements": ["configurator", "root-passwd"],
            "root_pswd":"oc@sc!23;)",
            "offline": true
        },
    "ubuntu_release":
        {
	        "release":"trusty"
        }
}
