{
    "git":
        {
            "username":"{{ git_username }}",
            "password":"{{ git_password }}",
	    "tag":"4.3",
    	    "rel": 1,
            "service_vm_agents_branch": "master"
        },
    "packer":
        {
            "image_size":4,
            "vyos_pswd":"oc@sc!23;)"
        }
}
